.pio
main/configuration.h
main/credentials.h

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

.idea

.DS_Store
Thumbs.db
.autotools
.built
.context
.cproject
.vagrant
nanopb*
flash.uf2
cmake-build*
__pycache__

*.swp
*.swo
*~

venv/
release/
/.vs/firmware/v16/Browse.VC.db
/.vs/firmware/v16/.suo
/.vs/firmware/v16/ipch/AutoPCH/376683ddc2a5bcb3/REDIRECTABLEPRINT.ipch
/.vs/firmware/v16/ipch/AutoPCH/4c9982ec68d29dd5/SERIALCONSOLE.ipch
/.vs/firmware/v16/ipch/AutoPCH/90070050ed761c85/FSCOMMON.ipch
/.vs/firmware/v16/ipch/AutoPCH/d8a720b6debc05df/MAIN.ipch
/.vs
